<div class="area">
    <div class="home-content">
        <div class="text-center container">
            <h1 class="text-white mb-0">Let's learn lots of words!</h1>
            <h1 class="text-white">Extend your world!</h1>
            <%= link_to "get started", new_user_path, class:"btn btn-success mt-3 mb-3 btn-lg"%>
        </div>
    </div>
</div>
