<div class="row">
    <div class="col-lg-3">
      <h2>Dashboard</h2>
        <div class="media">
            <%= gravatar_for (@user) %>
            <div class="media-body">
                <h5 class="mt-0"><%= @user.name %></h5>
                #showing the number of words user learned
             </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card">
                    <h1>Activities</h1>
                    <hr />
                    <h1>Show activity</h1>
                </div>
            </div>
        </div>
    </div>
</div>