<div class="row">
    <div class="col-lg-6 offset-3">
        <div class="head">
            <h1 class="text-center text-white">Edit Profile</h1>
        </div>
        <hr />
        <%= render "form", btn_msg: "Update Profile", btn_type: "btn-primary" %>
    </div>
</div>