<div class="row">
    <div class="col-lg-6 offset-3">
        <h1 class="text-center m-4">Sign-up</h1>
          <hr />
        <%= render "form",btn_msg: "Signup",btn_type: "btn-info"%>
    </div>
</div>