<div class="row">
    <div class="col-lg-6 offset-3">
    <div class="signup-head">
        <h1 class="text-center text-white">Sign-up</h1>
    </div>
          <hr class="m-0">
        <%= render "form",btn_msg: "Signup",btn_type: "btn-info"%>
    </div>
</div>