<div class="row">
    <div class="con-lg-3">
        <div class="card">
            <div class="card-body">
                <%= gravatar_for current_user %>
                <h3><%= current_user.name %></h3>
                <%= current_user.email %>
            </div>
        </div>
    </div>


    <div class="col-lg-9">
        <div class="card">
                <h1>Activities</h1>
                <hr />
                <h1>Show activity</h1>
            </div>
        </div>
    </div>
</div>