<% if flash.any? %>
    <% flash.each do |msg_type, msg| %>
        <div class="container p-2">
            <div class="alert alert-<%= msg_type %>">
                <%= msg %>
            </div>
        </div>
    <% end %>
<% end %>