<footer class="border-top p-3">
    <div class="container">
        <small class="float-left">E-learning Sysyem &copy;Ryohei Nakamura</small>
        <ul class="float-right">
            <li class="d-inline-block">
                <small><%= link_to "Home",root_path,class:"text-muted"%></small>
            </li>
            <li class="d-inline-block ">
                <small><%= link_to "about",about_path,class:"text-muted"%></small>
            </li>

        </ul>
    </div>