<div class="row">
    <div class="col-lg-6 offset-3">
        <h1>Create new Category</h1>
        <hr />
        <%= render "form", btn_msg: "Created new category" ,btn_type: "btn-info"%> 
    </div>
</div>