.text-center  {
  padding-top:16%;
  font-family: 'Vidaloka', serif;
  padding-bottom: 10%;

}

.text-white {
  -webkit-text-stroke: 0.2px gray;
  font-size: 50px;
}

.area {
  background-color: rgba(230, 225, 225, 0.418);
  height: 50%;
  padding: 10% 30%;
}

.home-content h1 {
  font-size: 50px;
}

.login-head h1 {
  font-size: 300%;
}
