.text-center {
  padding-top:0%;
}

label {
  font-size: 100%;
}

.col-lg-6 {
  background-color: rgba(230, 225, 225, 0.418);
  padding: 1% 3% ;
  position: relative;

}

.row {
  padding-bottom: 9%;
}

p {
  color: white;
}

.signup-head h1 {
  font-size: 300%;
}

.paginate {
  padding-left: 40%;
}

.head h1 {
  font-size: 300%;
}